body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: #343636;
  color: white;
  line-height: 1.6;
  padding-right: 30px; 
}

header {
  position: fixed;
  top: 0px;
  left: 20px;
  width: 220px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  z-index: 9999;
  pointer-events: none;
}

header * {
  pointer-events: auto;
}

.logo {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: 400;
  color: white;
  letter-spacing: 10px;
  width: 100%;
  white-space: nowrap;
}

.navbar {
  align-items: flex-start;
}

.nav-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: underline;
  font-weight: 900;
  font-size: 1.1em;
  transition: color 0.3s, transform 0.3s;
  position: relative;
}

.nav-item.active {
  color: transparent;
  text-decoration: none;
}

.nav-item.active::before {
  content: "\f1b0";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 18px;
  color: #ffffff;
  position: absolute;
  left: 0;
}

section:not(#home) {
  padding: 35px 30px 60px 0;
  text-align: right;
  align-items: flex-end;
}

h2 {
  color: #c180d3;
  margin-bottom: 20px;
}

#home {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

#typing-text {
  font-size: 1.5em;
  line-height: 2;
  white-space: normal;
  margin: 0;
  max-width: 800px;
  padding: 0 20px;
}

#contact {
  position: fixed;
  bottom: 20px;
  right: 20px;        
  display: flex;
  flex-direction: column; 
  gap: 15px;
  z-index: 9999;         
}

#contact i {
  font-size: 30px;
  color: white;
  transition: color 0.3s, transform 0.3s;
  cursor: pointer;
}

#contact i:hover {
  transform: scale(1.2);
}

#about {
  position: relative;
  text-align: right;
  max-width: 600px;
  margin-left: auto;
}

#project {
  position: relative;
  max-width: 30%;
  align-items: flex-end;
  margin-left: auto;
}
.project-list {
  padding: 5px 20px 20px 20px;
  margin-bottom: 20px;
  box-shadow: 8px 5px 10px rgba(167, 108, 185, 0.2);
}

.project-list a {
  color: #ffffff;
  font-weight: bold;
}

.project-list h3 {
  color: #c180d3;
}

.project-list h3:hover {
    color: #ffffff;
}

.modal {
  display: none;
  position: fixed; 
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
  padding-top: 50px;
}

.modal-content {
  background-color: #343636;
  color: white;
  margin: 5% auto;
  padding: 30px;
  border: 1px solid #c180d3;
  width: 80%; 
  max-width: 700px;
  box-shadow: 0 5px 15px rgba(167, 108, 185, 0.5);
  border-radius: 5px;
  position: relative;
}

#modal-description {
  text-align: justify;
}

.close-btn {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    line-height: 1;
    position: absolute;
    top: 10px;
    right: 20px;
}

.close-btn:hover,
.close-btn:focus {
    color: #c180d3;
    text-decoration: none;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* Rasio 16:9 */
    height: 0;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 20px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}